<div class="courses-panel">

  <h3>10x: {{tenCounter()}}</h3>
  <h3>100x: {{hundredCounter()}}</h3>

  <button class="btn">
    Add Course
  </button>
  <button class="btn" (click)="increment()">
    Increment
  </button>

  <button class="btn" (click)="decrement()">
    Decrement
  </button>

  <button class="btn" (click)="cleanup()">
    Cleanup
  </button>

  <mat-tab-group>

    <mat-tab label="Beginners">



    </mat-tab>

    <mat-tab label="Advanced">


    </mat-tab>

  </mat-tab-group>

</div>
